#include "lily58.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>
        , <&pro_micro 10 GPIO_ACTIVE_HIGH>
        ;
};

&left_encoder {
    status = "okay";
}; 

underglow: ws2812 {
        compatible = "worldsemi,ws2812-gpio";
        gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
        chain-length = <12>;
        color-order = <1 0 2>;
        label = "LILY58_UNDERGLOW";
    };

/ {
    chosen {
        zmk,underglow = &underglow;
    };
};
